<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Chatbot Sammlung</title>
    <link href="https://cdn.glitch.com/55b523cf-c2f4-4e0d-be9f-2fcebd2dac14%2Ffavicon.ico?v=1586026477273" rel="icon" type="image/x-icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="collection of ressources for the chatbot group project">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <!- jQuery for favicon preview -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <!-- Dark Mode Button WIP -->
  <body>
    
    <div class="theme-switch-wrapper">
      <a href="/" class="desktop indexlink"> ☰ Chatbots </a>
      <a href="/" class="mobile indexlink"> ☰ </a>
      <div class="crumbs indexlink"> </div>
      <div>
        <button onclick="growText()" class="sizeButton">+</button>
        <button onclick="shrinkText()" class="sizeButton">-</button>
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox"/>
            <div class="slider round"></div>
        </label>
      </div>
      
    </div>
    
    
    
    <main><!-- RENDERED CONTENT --></main>

    <footer class="desktop"> Chatbot Projekt Sommer'semester' 2020 <a href="/" class="indexlink back">back to index ⮢</a> <a href="/howto" class="indexlink">how to contribute ¶</a>
    </footer>
    <footer class="mobile"> Chatbot Projekt 2020 <a href="/" class="indexlink back">index ⮢</a> <a href="/howto" class="indexlink">help ¶</a>
    </footer>
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
<!--     <div class="glitchButton" style="position:fixed;top:2em;right:20px;"></div>
    <script src="https://button.glitch.me/button.js" defer></script> -->
  </body>
</html>
